.heroes {
	position: absolute;
	width: 40px;
	aspect-ratio: 1/1.7;
	pointer-events: none;
}
.lu {
	background: rgba(0,0,100,0.6);
}
.arthur {
	background: rgba(100,0,0,0.6);
}
.sarah {
	background: rgba(100,100,0,0.6);
}
.donna {
	background: rgba(40,0,100,0.6);
}
.molly {
	background: rgba(200,200,150,0.6);
}
.shiny {
	background: rgba(0,0,0,1);
}


.heroselector {
	opacity: 0;
}
.heroselector, .heroselected {
	position: absolute;
	outline: 1px solid blue;
	width: 40px;
	height: 40px;
	text-align: center;
	line-break: 40px;
	
}
.heroselector:hover {
	opacity: 1;
}
