.heroes {
	position: absolute;
	width: 40px;
	aspect-ratio: 1/1.7;
	pointer-events: none;
	z-index: 100;
}

.heroes.hero-left {
	transform: scaleX(-1);
}

.lu {
	background: url('/db/heroes/lu/lu.gif') center center no-repeat;
	background-size: contain;
}
.arthur {
	background: url('/db/heroes/arthur/arthur.gif') center center no-repeat;
	background-size: contain;
}
.sarah {
	outline: 1px dashed grey;
}
.donna {
	outline: 1px dashed grey;
}
.molly {
	outline: 1px dashed grey;
}
.shiny {
	outline: 1px dashed grey;
}


.heroselector {
	opacity: 0;
}
.heroselector, .heroselected {
	position: absolute;
	outline: 1px solid blue;
	width: 40px;
	height: 40px;
	text-align: center;
	line-break: 40px;
	
}
.heroselector:hover {
	opacity: 1;
}
