#scene {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 10% auto;
	text-align: center;
	user-select: none;
}
.step {
	position: absolute;
	width: 100px;
	height: 60px;
	overflow: hidden;
	text-indent: -900px;
}
.step:hover {
	overflow: hidden;
	text-indent: 0px;
	outline: 1px dashed grey;
}

.goto {
	outline: 1px dashed grey;
}
.goto:hover {
	cursor: pointer;

}