/* COINS */

.coins {
	position: absolute;
}
.coins:hover {
	cursor: pointer;
	filter: brightness(1.9) drop-shadow(0px 0px 10px);

}

.coins.golden {
	width: 40px;
	aspect-ratio: 1/1.7;
	background: url('/db/treasures/coins/coins-golden.gif') center center no-repeat;
	background-size: contain;
	border-radius: 50%;
	overflow: hidden;
	text-indent: -900px;
}
.coins.silver {
	width: 40px;
	aspect-ratio: 1/1.7;
	background: url('/db/treasures/coins/coins-silver.gif') center center no-repeat;
	background-size: contain;
	border-radius: 50%;
	overflow: hidden;
	text-indent: -900px;
}