/*

body.dark {
	background: #001f00;
}
body.light {
	background: #ddd;
}
*/



.step {
	background: url('step.gif') center center no-repeat;
	background-size: contain;
	border-radius: 50%;
}

.lake {
	width: 1000px;
	height: 400px !important;
	background: url('lake.gif') center center no-repeat;
	background-size: cover;
}

.bonfire {
	width: 200px;
	height: 200px;
	background: url('bonfire.gif') center center no-repeat;
	background-size: contain;
}

.river {
	background: url('river.gif') center center no-repeat;
	background-size: contain;
}

.tree1 {
	width: 340px;
	height: 500px;
	background: url('tree1.gif') center center no-repeat;
	background-size: contain;
	
}
.tree2 {
	width: 340px;
	height: 400px;
	background: url('tree1.gif') center center no-repeat;
	background-size: contain;
}



.bushes1 {
	width: 200px;
	height: 200px;
	background: url('bushes1.gif') center center no-repeat;
	background-size: contain;
}
.bushes2 {
	width: 200px;
	height: 200px;
	background: url('bushes1.gif') center center no-repeat;
	background-size: contain;
}
.bushes3 {
	width: 200px;
	height: 200px;
	background: url('bushes1.gif') center center no-repeat;
	background-size: contain;
}
