.step {
	background: url('step.gif') center center no-repeat;
	background-size: contain;
	border-radius: 50%;
}

.lake {
	width: 1000px;
	height: 300px;
	background: darkblue;
	outline: 1px solid lightblue;
}

.bonfire {
	width: 200px;
	height: 200px;
	background: orange;
	outline: 1px solid yellow;
}

.river {
	width: 200px;
	height: 600px;
	background: blue;
	outline: 1px solid lightblue;
}

.tree1 {
	width: 340px;
	height: 500px;
	background: url('tree1.gif') center center no-repeat;
	background-size: contain;
	
}
.tree2 {
	width: 340px;
	height: 400px;
	background: url('tree1.gif') center center no-repeat;
	background-size: contain;
}



.bushes1 {
	width: 200px;
	height: 200px;
	background: url('bushes1.gif') center center no-repeat;
	background-size: contain;
}
.bushes2 {
	width: 200px;
	height: 200px;
	background: url('bushes1.gif') center center no-repeat;
	background-size: contain;
}
.bushes3 {
	width: 200px;
	height: 200px;
	background: url('bushes1.gif') center center no-repeat;
	background-size: contain;
}
