#scene {
	width: 600px;
	height: 400px;
}


#enemy1 {
	top: 200px;
	left: 300px;
}
#enemy2 {
	top: 300px;
	left: 400px;
}


#whitesword {
	top: 0px;
	left: 300px;
}
#whitedice {
	top: 300px;
	left: 200px;
}
#whitespell {
	top: 100px;
	left: 400px;
}
#whiteshield {
	top: 400px;
	left: 400px;
}




#s1 {
	top: 600px;
    left: 100px;
}
#s2 {
	top: 560px;
    left: 200px;
}
#s3 {
	top: 500px;
	left: 280px;
}
#s4 {
	top: 400px;
	left: 240px;
}
#s4-2 {
	top: 400px;
	left: 340px;
}
#s5 {
	top: 320px;
	left: 160px;
}
#s6 {
	top: 260px;
	left: 240px;
}
#s7 {
	top: 220px;
	left: 340px;
}
#s8 {
	top: 120px;
	left: 440px;
}