body {
	background: #001f00 url('../_db/_scenery/sky.gif') top center no-repeat;
	background-size: 1000px;
}
#scene {
	width: 600px;
	height: 700px !important;
	outline: none !important;
}

#bonfire {
	top: 200px;
	left: 280px;
}


#tree1 {
	top: -160px;
	left: 700px;
	z-index: 2;
}
#tree2 {
	top: -260px;
	left: 200px;
	z-index: 0;
}


#bushes1 {
	top: 0px;
	left: 80px;
	z-index: 0;
}
#bushes2 {
	top: 0px;
	left: 380px;
	z-index: 0;
}
#bushes3 {
	top: 500px;
	left: 480px;
}



#collectable-lu {
	top: 200px;
	left: 200px;
	width: 100px;
}
#collectable-sarah {
	top: 100px;
	left: 260px;
}
#collectable-arthur {
	top: 100px;
	left: 440px;
	width: 100px;
	transform: scaleX(-1);
}

#collectable-molly {
	top: 300px;
	left: 220px;
}


#collectable-donna {
	top: 200px;
	left: 510px;
}
#collectable-shiny {
	top: 300px;
	left: 500px;
}

/* steps */


#s1 {
	top: 600px;
    left: 100px;
}
#s2 {
	top: 560px;
    left: 200px;
}
#s3 {
	top: 500px;
	left: 280px;
}
#s4 {
	top: 400px;
	left: 240px;
}
#s4-2 {
	top: 400px;
	left: 340px;
}
#s5 {
	top: 320px;
	left: 160px;
}
#s6 {
	top: 260px;
	left: 240px;
}
#s7 {
	top: 220px;
	left: 340px;
}
#s8 {
	top: 120px;
	left: 440px;
}
#s5-2 {
	top: 580px !important;
	left: 340px !important;
}






