#scene {
	width: 600px;
	height: 400px;
	outline: none !important;
}
#s1 {
	top: 200px;
	left: 280px;
}
#s2 {
	top: 240px;
    left: 340px;
    z-index: 1;
}
#s3 {
	top: 290px;
	left: 260px;
	z-index: 2;
}




#tree1 {
	top: -300px;
	left: 200px;
}

#tree2 {
	top: -200px;
	left: 600px;
}


#bushes1 {
	top: 140px;
	left: 80px;
}
#bushes2 {
	top: 140px;
	left: 580px;
}
#bushes3 {
	top: 300px;
	left: 480px;
}
