body {
	background: #001f00 url('../_db/_scenery/sky_sunset.gif') top center no-repeat;
	background-size: 1000px;
}
#scene {
	width: 600px;
	height: 400px;
	outline: none !important;
}

#river {
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 1000px;
	z-index: -4;
	filter: hue-rotate(50deg) brightness(0.4);
}


#enemy1 {
	top: 200px;
	left: 300px;
}
#enemy2 {
	top: 300px;
	left: 400px;
}


#collectable-page1 {
	top: 550px;
	left: 200px;
}
#collectable-greenwoods {
	top: 300px;
	left: 400px;
}
#collectable-crystalball {
	top: 400px;
	left: 600px;
}




#bushes1 {
	top: 400px;
	left: 150px;
}
#bushes2 {
	top: 300px;
	left: 450px;
	z-index: -1;
}
#bushes3 {
	top: 240px;
	left: 550px;
	z-index: -2;
}



#s4-2 {
	top: 80px;
	left: 180px;
}

