#rain-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  background: url(rain.gif) top center repeat, url(rain2.gif) top left repeat, url(rain.gif) bottom left repeat;
  background-size: 1000px;
  opacity: 0.8;
  transform: rotate(15deg);
  z-index: 10000;
}
